.path {
	background-color: white;
	height: 100%;
}

#details {
	background-color: green;
	height: 100%;
}
#title {
	text-align: center;
}

#content {
	height: 90%;
}
body {
    font-family: 'Helvetica Neue', Arial;
}

.row {
    background-color: rgb(60, 60, 60);
    color: white;
    text-align: center;
    padding-top: 15px;
}

.position-bar {
    position:fixed;
    height:calc(100% - 70px);
    width:200px;
    overflow-y:scroll;
    font-size: 14px;
    background-color: rgb(230, 230, 230);
    padding-left: 5px;
    padding-right: 5px;
}

/* visited link */
a:visited {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}
.position-details {
    position: fixed;
    margin-left: 205px;
    margin-right:200px;
    width:calc(100% - 410px);
    overflow-y:scroll;
    height: calc(100% - 50px); 
    background-color: rgb(80, 80, 80);
    color: white;
    padding: 5px 5px 5px 15px;
    z-index: 0;
}

.pos-detail-header {
    height:2em;
}
.pos-detail-irffg {
    font-size: 14px;
    color:rgb(200, 200, 200);
}

.position-toolbar {
    position:fixed;
    height:calc(100% - 70px);
    width:200px;
    right:0px;
    overflow-y:auto;
    font-size: 14px;
    background-color: rgb(230, 230, 230);
    padding-left: 5px;
    padding-right: 5px;
}

.position-toolbar ul{
    padding-left: 0px
}

.myDropzone {
    border-width: 1px;
    border-style: dotted;
    border-color: grey;
    padding: 5px 5px 5px 5px;
}

#pos-det-skillcomps {
    width:100%;
    min-height: 200px;
    max-height: 500px;
}

#pos-det-skills {
    width: 50%;
    float: left;
    height: 100%;
}

#pos-det-comps {
    width: 50%;
    float: left;
    height: 100%
}

.pos-det-skills-accordion-description {
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 12px;
}

.pos-det-skills-accordion {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 ) 
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

#learning-form-wrapper {
    padding: 20px 20px 20px 20px;
    /*display:    none;*/
    position:   fixed;
    z-index: 1000;
    min-height: 200px;
    width: 300px;
    margin: auto auto auto auto;
    background-color: white;
}


