.path {
    background-color: white;
    height: 100%;
}

#title {
    text-align: center;
}

#content {
    height: 90%;
}
.myHeader {
    background-color: #a8b6bf;

}

.myNav {
    margin-left: 265px;
}

body {
    font-family: 'Helvetica Neue', Arial;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

#logo {
    position: fixed;
    right: 30px;
    top: 20px;
}

.row {
    color: black;
    text-align: center;
    padding-top: 15px;
}

#sidebar {
    position:fixed;
    height: calc(100% - 120px); 
    width:250px;
    overflow-y:auto;
    font-size: 14px;
    background-color: #edd9c0;
    padding-left: 5px;
    padding-right: 5px;
}

#sidebar .ui-state-active {
    background: #CF9B58;
}

#sidebar .ui-state-hover-dz {
    background: #9E3CFF;
}

#details {
    position: fixed;
    margin-left: 250px;
    margin-right:250px;
    width:calc(100% - 500px);
    overflow-y:scroll;
    overflow-x:hidden;
    height: calc(100% - 120px); 
    background-color: #c9d8c5;
    color: black;
    padding: 10px 10px 10px 10px;
    z-index: 0;
}

#details::-webkit-scrollbar
{
    width: 10px;
    background-color: #c9d8c5;
}

#details::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #93B38B;
}

#details .ui-state-active {
    background: #7eb18f;
}

#toolbar {
    position:fixed;
    height: calc(100% - 120px); 
    width:250px;
    right:0px;
    overflow-y:auto;
    font-size: 14px;
    background-color: #b0aac2;
    padding-left: 5px;
    padding-right: 5px;
}

#toolbar ul{
    list-style-type: circle;
    padding-left: 10px
}

#toolbar .ui-state-active {
    background: #9e7ac1;
}

#toolbar .ui-state-hover-dz {
    background: #9E3CFF;
}

#toolbar .myDropzone-action {
    width: calc(100% - 10px);
    min-height: 50px;
    background-color: #b0aac2;
    border-style: dotted;
    border-width: 2px;
    border-color: #9e7ac1;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

#toolbar .myDropzone-module-action {
    width: calc(100% - 10px);
    border-style: dotted;
    border-width: 2px;
    border-color: #9e7ac1;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

#learning-accordion ul {
    list-style-type: none;
    padding-left: 0;
}

.draggable {
    cursor: pointer;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 ) 
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50% 
                no-repeat;
}
/* visited link */
a:visited {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}

li {

}

#accordion-actions ul {
    list-style-type: disc;
    padding-left: 13px
}

#trashcan {
    width: 100%;
    height: 100px;
    vertical-align: center;
    text-align: center;
    background: rgb( 200, 200, 200) 
                url('/css/images/trashy.png')
                50% 50% 
                no-repeat;
}


