.path {
    background-color: white;
    height: 100%;
}

#details {
    height: 100%;
}
#title {
    text-align: center;
}

#content {
    height: 90%;
}
.myHeader {
    background-color: #a8b6bf;

}

.myNav {
    margin-left: 260px;
}
body {
    font-family: 'Helvetica Neue', Arial;
}

.row {
    color: black;
    text-align: center;
    padding-top: 15px;
}

#sidebar {
    position:fixed;
    height:calc(100% - 70px);
    width:250px;
    overflow-y:auto;
    font-size: 14px;
    background-color: #edd9c0;
    padding-left: 5px;
    padding-right: 5px;
}

#details {
    position: fixed;
    margin-left: 250px;
    margin-right:250px;
    width:calc(100% - 500px);
    overflow-y:auto;
    height: calc(100% - 50px); 
    background-color: #c9d8c5;
    color: black;
    padding: 10px 10px 10px 10px;
    z-index: 0;
}

#toolbar {
    position:fixed;
    height:calc(100% - 70px);
    width:250px;
    right:0px;
    overflow-y:auto;
    font-size: 14px;
    background-color: #b0aac2;
    padding-left: 5px;
    padding-right: 5px;
}

#toolbar ul{
    list-style-type: circle;
    padding-left: 10px
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 ) 
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50% 
                no-repeat;
}
/* visited link */
a:visited {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}

li {

}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}